<!DOCTYPE html>
<div class="container">

  {{#if messages}}
  {{#if messages.success_msg}}
  <div> {{messages.success_msg}} </div>
  {{/if}}
  {{#if messages.error}}
  <div> {{messages.error}} </div>
  {{/if}}
  {{/if}}

  {{#if edit_profile_pic}}
  <img src="../{{profile_pic}}" alt="profile picture" />

  <form action="/editprofile/profile_pic" method="POST">
    <div class="control-group form-group">
        <input type="text" id="profile_pic" name="profile_pic" placeholder="Profile Picture URL" value="{{user.profile_pic}}" required/>
    </div>
    <div class="control-group form-group">
        <input type="submit" value="Update Profile Picture"/>
    </div>
  </form>
  {{/if}}
  {{#if edit_profile}}
  <form action="/editprofile/profile" method="POST">
    <div class="control-group form-group">
        <input type="text" id="name" name="name" placeholder="Name" value="{{user.name}}" required/>
    </div>
    <div class="control-group form-group">
        <input type="text" id="email" name="email" placeholder="New Email" value="{{user.email}}" required/>
    </div>
    <div class="control-group form-group">
        <input type="text" id="about" name="about" placeholder="About me..." value="{{user.about}}" />
    </div>
    <div class="control-group form-group">
        <input type="submit" value="Update Profile"/>
    </div>
  </form>
  {{/if}}
  {{#if changepassword}}
  <form action="/editprofile/changepassword" method="POST">
    <div class="control-group form-group">
        <input type="password" id="current_password" name="current_password" placeholder="Current Password" required/>
    </div>
    <div class="control-group form-group">
        <input type="password" id="new_password" name="password" placeholder="New Password" required/>
    </div>
    <div class="control-group form-group">
        <input type="password" id="new_password2" name="password2" placeholder="Confirm Password" required/>
    </div>
    <div class="control-group form-group">
        <input type="submit" value="Update Password"/>
    </div>
  </form>
  {{/if}}
  {{#if delete_profile}}
  <p>Please confirm that you wish to delete your profile by entering your password below:</p>
  <form action="/editprofile/delete" method="POST">
    <div class="control-group form-group">
        <input type="password" id="password" name="password" placeholder="Password" required/>
    </div>
    <div class="control-group form-group">
        <input type="submit" value="Delete Profile"/>
    </div>
  </form>
  {{/if}}

  <a href='/profile'>Cancel</a>





</div>
