<header>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active">
          <img class="carousel-img" src="images/gallery/dg1.jpg" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
            <h3>First Slide</h3>
            <p>This is a description for the first slide.</p>
          </div>
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
          <img class="carousel-img" src="images/gallery/dg2.jpg" alt="Second slide">
          <div class="carousel-caption d-none d-md-block">
            <h3>Second Slide</h3>
            <p>This is a description for the second slide.</p>
          </div>
        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
          <img class="carousel-img" src="images/gallery/dg3.jpg" alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
            <h3>Third Slide</h3>
            <p>This is a description for the third slide.</p>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </header>

  <!-- Page Content -->
  <div class="container">

    <h1 class="content-title my-4 text-center">Welcome to TAMU Disc Golf Club</h1>

    <!-- Portfolio Section -->

    <div class="row">
      <!-- About Us Section -->
      <div class="col-lg col-sm portfolio-item">
        <h2 class="col-lg col-sm text-center">
            About Us
        </h2>
        <div class="card border-light h-100">
          <div class="card-body">
            <img class="card-img-top" height="400" width="700" src="images/about/logo.jpg" alt="">
            <p class="card-text"></p>
            <p class="card-text">The disc golf club is one among the several student organizations at Texas A&M University.</p>
            <p class="card-text">The objective of the club is to grow the sport of disc golf, host intra club tournaments as well as competitive tournaments against other clubs and universities.</p>
            <p class="card-text">Join us, have some fun, and enjoy the sport!</p>
          </div>
        </div>
      </div>
      <!-- Upcoming Events -->
      
      <div class="col-lg col-sm portfolio-item">
        <h2 class="col-lg col-sm text-center">
            Upcoming Events
        </h2>
        <div class="card h-100 show-scroll" id="scroll">
          <div class="card-body" >
            <!-- List of Upcoming Events -->
            {{#each events}}
            <div class="col-lg col-sm portfolio-item">
              <div class="card h-100">
                <img class="card-img-top" height="300" width="700" src="images/events/i1.jpg" alt="">
                <div class="card-body">
                  <h4 class="card-title">
                    {{this.dataValues.event_title}}
                  </h4>
                  <p class="card-text">Date: {{moment this.dataValues.event_date format="YYYY-MM-DD"}}</p>
                  <p class="card-text">Time: {{moment this.dataValues.event_date format="hh:mm A"}}</p>
                  <p class="card-text">Place: {{this.dataValues.event_place}}</p>
                  <p class="card-text">{{this.dataValues.event_description}}</p>
                </div>
              </div>
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container -->

