<!DOCTYPE html>

<div class="container">
    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        Events
    </h1>
    <div class="row">
        <div class="col-lg col-sm portfolio-item">
            <h2 class="col-lg col-sm text-center">
                Calendar
            </h2>
            <div class="calendar">
                <div class="month">
                    <div class="prev" onclick="moveDate('prev')">
                        <span>&#10094;</span>
                    </div>
                    <div>
                        <h2 id="month"></h2>
                    </div>
                    <div class="next" onclick="moveDate('next')">
                        <span>&#10095;</span>
                    </div>
                </div>
                <div class="weekdays">
                    <div>Sun</div>
                    <div>Mon</div>
                    <div>Tue</div>
                    <div>Wed</div>
                    <div>Thu</div>
                    <div>Fri</div>
                    <div>Sat</div>
                </div>
                <div class="days" >
                </div>
            </div>
        </div>
        
        <div class="col-lg col-sm portfolio-item">
            <h2 class="col-lg col-sm text-center">
                Event Details
            </h2>
            <div class="show-scroll calendar" id="scroll">
                <div class="card-body">
                    <!-- List of Upcoming Events -->
                    {{#each events}}
                    <div class="col-lg col-sm portfolio-item {{moment this.dataValues.event_date format="YYYY-MM-DD"}}" style="display: none;">
                        <div class="card h-100">
                            <img class="card-img-top" height="300" width="700" src="images/events/i1.jpg" alt="">
                            <div class="card-body">
                            <h4 class="card-title">
                                {{this.dataValues.event_title}}
                            </h4>
                            <p class="card-text">Date: {{moment this.dataValues.event_date format="YYYY-MM-DD"}}</p>
                            <p class="card-text">Time: {{moment this.dataValues.event_date format="hh:mm A"}}</p>
                            <p class="card-text">Place: {{this.dataValues.event_place}}</p>
                            <p class="card-text">{{this.dataValues.event_description}}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    <div class="col-lg col-sm portfolio-item" id="default" style="display: none;">
                        <div class="card h-100">
                            <div class="card-body">
                            <h4 class="card-title">
                                No events to display
                            </h4>
                            <p class="card-text">Please select another date</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->

<script>
    var dt = new Date();
    var news_events = {}
    {{#each events}}
        news_events["{{moment this.dataValues.event_date format='YYYY-MM-DD'}}"] = {
            "{{moment this.dataValues.event_date format = 'hh:mm A'}}":{
                "title":"{{this.dataValues.event_title}}",
                "place":"{{this.dataValues.event_place}}",
                "description":"{{this.dataValues.event_description}}"}
        }
    {{/each}}

    window.onload = renderDate();

    function renderDate() {
        dt.setDate(1)
        var cells = "";
        var day = dt.getDay();
        var today = new Date();
        // End of the month
        var endDate = new Date(
            dt.getFullYear(),
            dt.getMonth() + 1,
            0
        ).getDate();
        var prevDate = new Date(
            dt.getFullYear(),
            dt.getMonth() + 1,
            0
        ).getDate();
        var prevDateIndex = new Date(
            dt.getFullYear(),
            dt.getMonth() + 1,
            0
        ).getDay();
        var months = ["January", "February", "March", "April", "May", "June", "July",
                      "August", "September", "October", "November", "December"]

        document.getElementById("month").innerHTML = months[dt.getMonth()] + " " + dt.getFullYear();
        
        for (var x = day; x > 0; x--) {
            cells += "<div class='prev_date'>" + (prevDate - x + 1) + "</div>";
        }
        for (var i = 1; i <= endDate; i++) {
            var check_date = dt.toISOString().slice(0, 8);
            var c_d = ""
            if(i < 10) {
                c_d = "0" + i.toString()
            }
            else {
                c_d = i.toString()
            }
            var final_date = check_date + c_d;
            var todays_date = today.toISOString().slice(0, 10);

            if (final_date == todays_date && final_date in news_events) {
                cells += "<div class='todays_date event_date' id = " + final_date + " onclick='onDate(this)'>" + i + "</div>";
            }
            else if (final_date == todays_date) {
                cells += "<div class='todays_date' id = " + final_date + " onclick='onDate(this)'>" + i + "</div>";
            }
            else if (final_date in news_events){
                cells += "<div class='event_date' id = " + final_date + " onclick='onDate(this)'>" + i + "</div>";
            }
            else{
                cells += "<div class='no_event' id = " + final_date + " onclick='onDate(this)'>" + i + "</div>";
            }
            
        }
        document.getElementsByClassName("days")[0].innerHTML = cells;
        onDate(document.getElementById(todays_date), true)
    }

    function onDate(current_selected_cell, flag=false){
        var current_selected_date = "";
        var today = new Date();
        var prev_selected_cells = document.getElementsByClassName("selected_date");
        var todays_date = today.toISOString().slice(0, 10);
        
        // Reset the display formatting of the previously selected cell
        for(var i = 0; i < prev_selected_cells.length; i++) {
            var prev_selected_date = prev_selected_cells[i].id;
            if (prev_selected_date in news_events && todays_date == prev_selected_date) {
                prev_selected_cells[i].className = 'todays_date event_date';
            }
            else if(prev_selected_date in news_events) {
                prev_selected_cells[i].className = 'event_date';
            }
            else if(todays_date == prev_selected_date) {
                prev_selected_cells[i].className = 'todays_date';
            }
            else {
                prev_selected_cells[i].className = 'no_event';
            }
        }

        // Set the display formatting of the currently selected cell
        if(current_selected_cell) {
            current_selected_date = current_selected_cell.id.toString();
            // flag is set to true when the page is refreshed with today's date being default without any explict cell selection
            // flag is set to false when a cell is explicitly selected
            if(flag) {
                if(current_selected_date in news_events) {
                    document.getElementById(current_selected_date).className = "todays_date event_date";
                }
                else {
                    document.getElementById(current_selected_date).className = "todays_date";
                }
            }
            else {
                document.getElementById(current_selected_date).className = "selected_date";
                todays_cell = document.getElementById(todays_date);
                if(todays_cell) {
                    if(current_selected_date == todays_date) {
                        todays_cell.className = "todays_date selected_date";
                    }
                    else if(todays_date in news_events) {
                        todays_cell.className = "todays_date event_date";
                    }
                    else {
                        todays_cell.className = "todays_date";
                    }
                }
                
            }
        }

        // Display the events corresponding to the selected cell and block the rest
        for(var event_date in news_events) {
            var event_cells = document.getElementsByClassName(event_date);
            for(var i = 0; i < event_cells.length; i++) {
                if(current_selected_date == event_date) {
                    event_cells[i].style.display = "block";
                }
                else {
                    event_cells[i].style.display = "none";
                }
            }
        }

        // If there are no events present for the currently selected cell, display the "no events" default card
        // block the "no events" default card otherwise
        var default_card = document.getElementById("default");
        if(!(current_selected_date in news_events)) {
            default_card.style.display = "block";
        }
        else {
            default_card.style.display = "none";
        }
    }
        
    function moveDate(direction) {
        if(direction == "prev") {
            dt.setMonth(dt.getMonth() - 1);
        }
        else if(direction == 'next') {
            dt.setMonth(dt.getMonth() + 1);
        }
        renderDate();
    }
</script>