<!DOCTYPE html>
<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <h1 class="mt-4 mb-3">Officers
  </h1>

  <div class="row">
    {{#each officers}}
    <div class="col-lg-4 mb-4">
      <div class="card h-100 text-center">
        <!-- <img class="card-img-top" height="250"src="images/officers/officerplaceholder.png"> -->
        <img class="card-img-top" height="250"src={{this.dataValues.profile_pic}}>
        <div class="card-body">
          <h4 class="card-title">{{this.dataValues.name}}</h4>
          <h6 class="card-subtitle mb-2 text-muted">{{this.dataValues.position}}</h6>
          <p class="card-text">{{this.dataValues.about}}</p>
        </div>
        <div class="card-footer">
          <a href="#">{{this.dataValues.email}}</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
