<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <h1 class="mt-4 mb-3">
    Competitive Teams
  </h1>

  <!-- Image Header -->

  <!-- Marketing Icons Section -->
  <div class="row">
    {{#each teams}}
    <div class="col-lg col-sm portfolio-item">
      <div class="card h-100">
        <h4 class="card-header">{{this.dataValues.team_name}}</h4>
        <img class="card-img-top" height="350" width="700" src="{{this.dataValues.image_path}}">
        <div class="card-body">
          <ol>
            {{#if this.dataValues.member_name1}}
             <li>{{this.dataValues.member_name1}}</li>
            {{/if}}
             {{#if this.dataValues.member_name2}}
             <li>{{this.dataValues.member_name2}}</li>
            {{/if}}
            {{#if this.dataValues.member_name3}}
             <li>{{this.dataValues.member_name3}}</li>
            {{/if}}
             {{#if this.dataValues.member_name4}}
             <li>{{this.dataValues.member_name4}}</li>
            {{/if}}
          </ol>
        </div>
      </div>
    </div>
    {{else}}
      <h1> No Teams to display </h2>
    {{/each}}
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->