<!-- Page Content -->
<div class="container">

  <!-- Page Heading -->
  <h1 class="mt-4 mb-3">
    Competitive Teams
  </h1>

  <!-- Image Header -->
  <img class="img-fluid rounded mb-4" src="images/teams/image2.jpg" alt="">

  <!-- Marketing Icons Section -->
  <div class="row">
    {{#each teams}}
    <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">{{this.dataValues.team_name}}</h4>
        <div class="card-body">
          <ol>
            {{#if this.dataValues.member_name1}}
             <li>{{this.dataValues.member_name1}}</li>
            {{/if}}
             {{#if this.dataValues.member_name2}}
             <li>{{this.dataValues.member_name2}}</li>
            {{/if}}
            {{#if this.dataValues.member_name3}}
             <li>{{this.dataValues.member_name3}}</li>
            {{/if}}
             {{#if this.dataValues.member_name4}}
             <li>{{this.dataValues.member_name4}}</li>
            {{/if}}
             {{#if this.dataValues.member_name5}}
             <li>{{this.dataValues.member_name5}}</li>
            {{/if}}
          </ol>
          <!-- <p class="card-text">Play in a team of two and win best throw, worst throw and Tough throw </p> -->
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Learn More about the team</a>
        </div>
      </div>
    </div>
    {{else}}
      <h1> No Teams to display </h2>
    {{/each}}
    {{!-- <div class="col-lg-4 mb-4">
      <div class="card h-100">
        <h4 class="card-header">New Team Registration</h4>
        <div class="card-body">
          <p class="card-text"> Get your team registered to join our community. Compete with other teams and win exciting awards.</p>
        </div>
        <div class="card-footer">
          <a href="#" class="btn btn-primary">Register Here</a>
        </div>
      </div> --}}
    </div>
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->